* {
	margin: 0;
	padding: 0;
}
.wraper1 {
	width: 800px;
	margin: 20px auto;
	height: 180px;
}
.carousel-hider {
	width: 600px;
	overflow: hidden;
	float: left;
}

.carousel-list {
	list-style: none;
	width: 10000px;
	padding: 0px;
	position: relative;
	left: 0;
}

.carousel-element {
	display: block;
	margin-right: 25px;
	float: left;
	text-align: center;
}

.carousel-element img {
	max-width: 100px;
}

.carousel-arrow-left, .carousel-arrow-right {
	float: left;
	display: block;
	border: 1px solid gray;
	background-color: lightgray;
	padding: 5px;
	margin-top: 25px;
}
.carousel-arrow-left:hover, .carousel-arrow-right:hover {
	cursor: pointer;
	background-color: gray;
}

.carousel-arrow-left {
	margin-right: 25px;
}

.carousel-arrow-right {
	margin-left: 25px;
}
.wraper1  a {
	margin:0 0 15px 0;
	display: block;
 }