* {
	margin: 0;
	padding: 0;
}
/*body {
	width: 100%;
	background-color: #efefef;
}*/
.line_bot {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.line_top {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.wraper {
	width: 510px;
	height: 650px;
	margin: 4px auto 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: .5s;
}
h2 {
	padding-top: 15px;
	padding-bottom: 27px;
	text-align: center;
}
.myPhoto {
	height: 128px;
	width: 109px;
	margin: 0 37%;
	border-radius: 10px;
}
.content {
	width: 80%;
	margin: 0 auto;
}

 .content p {
 	margin:0 0 15px 25px;
 	padding-left: 15px;
 	font-size: 18px;
 	line-height: 25px;
 }
 .about {
 	margin-left: 70px;
 	margin-bottom: 15px;
 }
 .about_li {
 	line-height: 20px;
 }
 a {
 	margin:0 0 15px 40px;
	display: block;
 }
 .left {
 	padding-left: 20px;

 }
