article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section { 
    display: block;
}

.clearfix::after {
	display: block;
	clear: both;
	content: '';
}
.wraper {
	width: 770px;
	margin: 0 auto;
	overflow: hidden;
}
.wraper2 {
	width: 770px;
	margin: 0 auto;
}




/* HEADER  НАЧАЛО */

header {
	margin: 0 auto;
	position: relative;
}
.fon_header {
	width: 100%;
	height: 516px;
	background: url(../img/header_fon.jpg) top center no-repeat;
}
h1 {
	font: 291%  'league_gothicregular';
	text-shadow: 1px 1px 2px #999;
	font-weight: 500;
	color: #fff;
}
h1 span {
	background: -webkit-linear-gradient(#322539, #745083);
	background: -o-linear-gradient(#322539, #745083);
	background: linear-gradient(#322539, #745083);
	-webkit-background-clip: text;
	background: transparent;
	color: #745083;
}
.menu_top {
	z-index: 10;
	width: 100%;
}


.menu a{
	color: #fff;
	text-decoration: none;
	font: 150%  'league_gothicregular';
	text-shadow: 1px 1px 1px #999;
}
.menu a:hover {
	border-bottom: 2px solid #edbfff;
}

.slider {
	width: 100%;
	height: 423px;
	margin-top: 174px;
	position: relative;
}
.arrow {
	background: url(../img/arrow.png) no-repeat;
	width: 30px;
	height: 42px;
	cursor: pointer;
}
.arrow_left {
	float: left;
}
.arrow_right {
	background-position: -31px 0;
	float: right;
}
.slider-content {
	/*overflow: hidden;*/
	margin: 0 auto;
}
.slider-text h2 {
	color: #fff;
	font: 290%  'league_gothicregular';
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.slider-text h3 {
	color: #edbfff;
	font: 150%  'league_gothicregular';
	height: 25px;
	overflow: hidden;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.slider-text p {
	color: #fff;
	font: 99% 'open_sanslight';
	overflow: hidden;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.point {
	width: 90px;
	height: 19px;
}
.point li{
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 2px;
}
.point-black li{
	background: url(../img/label_and_activ.png) no-repeat;

}
.point li:hover,
li.point-check {
	background-position: -17px 0;
}

/* HEADER КОНЕЦ */


/* SECTION  НАЧАЛО */
.about {
	height: 597px;
	width: 100%;
	border-top: 1px solid #34263b;
	border-bottom: 1px solid #34263b;

	background: -moz-linear-gradient(#775385, #37293e);
	background: -ms-linear-gradient(#775385, #37293e);
	background: -webkit-linear-gradient(#775385, #37293e);
	background: -o-linear-gradient(#775385, #37293e);
	background: linear-gradient(#775385, #37293e);
}
.about_menu {
	width: 210px;
	height: 200px;
}
.about_menu-img {
	float: left;
	display: block;
	margin: 3px 0 0 -3px;
}
.sprite1 {
	background: url(../img/spraites_key.png) no-repeat;
	width: 30px;
	height: 31px;
}
.sprite2 {
	background: url(../img/spraites_key.png) no-repeat;
	background-position: -30px 0;
	width: 30px;
	height: 31px;
}
.sprite3 {
	background: url(../img/spraites_key.png) no-repeat;
	background-position: -60px 0;
	width: 30px;
	height: 31px;
}
.about_menu-text {
	float: right;
	width: 150px;
	color: #fff;
	margin-right: 8px;
}
.about_menu-text h3 {
	font: 148%  'league_gothicregular';
	margin: -1px 0px 0 -2px;
	text-shadow: 1px 0 0 rgba(15, 21, 24, 1);
}
.about_menu-text p {
	font: 98%  'open_sanslight';
	height: 144px;
	letter-spacing: 0.07px;
	line-height: 24px;
	margin: 3px 0px 0 -2px;
	overflow: hidden;
	text-shadow: 1px 0 0 rgba(15, 21, 24, 1);
}
.about_menu-text a {
	font: 120%  'league_gothicregular';
	color: #fff;
	text-decoration: none;
	margin: 3px 5px 0 0;
	float: right;
	letter-spacing: -0.2px;
	text-shadow: 1px 0 0 #000;
}
.about_menu-text a:hover {
	text-shadow: 0 0 8px #fff;
}
.about_menu-left {
	float: left;
	margin: 75px 0 0 31px;
}
.about_menu-center {
	float: left;
	margin: 75px 0 0 42px;
}
.about_menu-right {
	float: right;	
	margin: 75px 16px 0 0;
}


.news {
	width: 100%;
	height: 785px;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: inset 0px 8px 5px  rgba(0,0,0, 0.1);
	background-color: #f9f9f9;
}
.news_left {
	float: left;
}
.news_right {
	float: right;
}
.slide1-img {
	position: relative;
	margin: 18px 0 0 -24px;
}
.img {
	float: left;
	width: 49px;
	height: 49px;
	background: url(../img/men.png) no-repeat;
}
.slides h4 {
	color: #454545;
	font: 150%  'league_gothicregular';
	margin: 26px 0 0 35px;
	padding-top: 20px;
	text-shadow: 1px 0 0 #fff;
	text-transform: uppercase;
}
.slides h5 {
	color: #edbfff;
	font: 150%  'league_gothicregular';
	margin: -4px 0 0 35px;
	text-shadow: 1px 0 0 #fff;
	text-transform: uppercase;
}
.slides p {
	color: #454545;
	font: 99%  'open_sanslight';
	height: 147px;
	line-height: 156%;
	margin: 0 0 0 39px;
	overflow: hidden;
	text-shadow: 1px 0 0 #fff;
}
.control {
	margin: 22px 117px
}
.point-white {
	width: 100px;
	height: 19px;
}
.point-white li{
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 1px;
	background: url(../img/button.png) no-repeat;
	background-position: 0 0;
}
.point-white li:hover,
li.point-white-check {
	background-position: -19px 0;
}


.news-right h3 {
	color: #454545;
	font: 185%  'league_gothicregular';
	margin: 26px 0 13px -28px;
	text-shadow: 1px 0 0 #fff;
}
.news-right-item1-img {
	background: url(../img/spraites_item.png) no-repeat;
	width: 49px;
	height: 49px;
	float: left;
	margin: 0 16px 0 -27px;
}
.news-right-item2-img {
	background: url(../img/spraites_item.png) no-repeat;
	background-position: -49px 0;
	width: 49px;
	height: 49px;
	float: left;
	margin: 0 17px 0 36px;
}
.news-right-item3-img {
	background: url(../img/spraites_item.png) no-repeat;
	background-position: -98px 0;
	width: 49px;
	height: 49px;
	float: left;
	margin: 0 17px 0 36px;
}
.news-right-item2 {
	margin-top: 17px;
}
.news-right-item3 {
	margin-top: 17px;
}
.news-right h5 {
	font: 100%  'open_sansextrabold';
	text-shadow: 1px 0 0 #fff;
}
.news-right p {
	font: 99%  'open_sanslight';
	height: 26px;
	line-height: 165%;
	overflow: hidden;
	text-shadow: 1px 0 0 #fff;
	width: 260px;
}
.news-right a {
	clear: both;
	color: #454545;
	display: block;
	font: 114%  'league_gothicregular';
	margin: 17px 0 0 274px;
	text-decoration: none;
	text-shadow: 1px 0 0 #fff;
}


.logos {
	width: 100%;
	height: 420px;
	background-color: #f9f9f9;
	border-top: 1px solid #fff;
	box-sizing: border-box;
	padding-top: 23px;
}
.logos-img {
	float: left;
	margin: 30px 28px;
}
.logos-item1 {
	width: 69px;
	height: 64px;
	background: url(../img/logo_bllabong.png) no-repeat;
	margin-left: 60px;
}
.logos-item2 {
	width: 72px;
	height: 64px;
	background: url(../img/logo_gc.png) no-repeat;
}
.logos-item3 {
	width: 65px;
	height: 65px;
	background: url(../img/logo_three.png) no-repeat;
	margin-left: 69px;
}
.logos-item4 {
	width: 50px;
	height: 63px;
	background: url(../img/logo_awsm.png) no-repeat;
	margin-left: 37px;
}
.logos-item5 {
	width: 103px;
	height: 21px;
	background: url(../img/logo_raca.png) no-repeat;
	margin: 33px 41px;;
}
.logos-item6 {
	width: 78px;
	height: 61px;
	background: url(../img/logo_vonzipper.png) no-repeat;
	margin: 13px 0 0 16px;
}


.categories {
	display: block;
	width: 100%;
	height: 668px;
	background-color: #ececec;
	float: left;
}
.categories h2 {
	color: #454545;
	font: 150%  'league_gothicregular';
	margin-bottom: 8px;
	text-shadow: 1px 0 0 #fff;
}
.categories p {
	color: #787878;
	font: 99%  'open_sanslight';
	height: 170px;
	line-height: 24px;
	overflow: hidden;
	text-shadow: 1px 0 0 #fff;
}
.logo_bottom {
	display: none;
}
/* SECTION КОНЕЦ */


/* FOOTER  НАЧАЛО */

footer {
	width: 100%;
	height: 201px;
	background: url(../img/fotter.jpg) top center no-repeat;
}
footer p {
	font: 75%  'open_sanslight';
	color: #fff;
	float: right;
	text-shadow: 1px 1px 1px #000;
	margin: 7px 24px;
}
footer span {
	font: 100%  'open_sansextrabold';
}

/* FOOTER КОНЕЦ */