
h1 {
	font: 291%  'League Gothic';
	text-shadow: 0 3px 3px rgba(150, 150, 150, 1);
}


.clearfix::after {
	display: block;
	clear: both;
	content: '';
}


h1 {
	text-align: center;
}
.menu_top {
	float: right;
} 

.menu li{
	display: inline;
	margin: 25px 18px;

	float: left;
}
.menu a{
	color: #fff;
	text-decoration: none;
	font: 130%  'League Gothic';
	text-shadow: 1px 1px 1px #999;
}
.menu_top {
		margin: 22px 0 0 38px;
}
.point li{
	display: inline;
}
.about {
	height: 596px;
	width: 100%;
	background: #37293e;
}

