
.img1 {
  background-image: url(../img/partners/sprite.png);
  background-position: 0px 0px;

}
.img2 {
  background-image: url(../img/partners/sprite.png);
  background-position: -125px 0px;

}
.img3 {
  background-image: url(../img/partners/sprite.png);
  background-position: 0px -126px;

}
.img4 {
  background-image: url(../img/partners/sprite.png);
  background-position: -250px 0px;

}
