@import "normalize.scss";
@import "stylesheet.scss";
@import "mixins.scss";

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	header {
		background: url(../img/RTheader_fon.jpg) center  no-repeat;
	}
	.step1 {
		@include bgi('RTstep_sprite.jpg', 'steps/');
	}
	.step2 {
		@include bgi('RTstep_sprite.jpg', 'steps/');
		background-position: -300px 0;
	}
	.step3 {
		@include bgi('RTstep_sprite.jpg', 'steps/');
		background-position: -600px 0;

	}
}

@media screen and (min-width: 960px){

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  

		

		} /* END IE11*/




		.wrapper {
			width: 940px;
		}


		} /* END width 960 + */

		@media screen and (max-width: 959px ){
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  



				} /* END IE11*/



				.wrapper {
					width: 748px;
					margin: 0 auto
				}
				.header-top-logo {
					margin-left: 39px;
				}
				.singUp {
					margin: -1px 39px 0 19px;
				}
				.header-title-h1 {
					margin: 0 0 0 -5px;
				}
				.header-title-h2 {
					margin: 19px 0 30px -2px;
				}
				.header-title-btn {
					padding-right: 3px;
				}
				.steps-h3 {
					margin: 0 0 32px 7px;
				}
				.partner-h3 {
					margin: 2px 0 30px -6px;
				}
				.tile {
					width: 748px;
					display: block;
					margin: 0 auto;
				}
				.steps-block {
					width: 236px;
				}
				.steps-block-arrow {
					margin-top: 40px;
				}
				.partner-block {
					text-align: center;
					margin-bottom: -20px;
				}
				.partner-block-item {
					display: inline-block;
					vertical-align: top;
					float: none;
					margin: 0 0 55px 0;
				}
				.bItem1 {
					padding: 0 0 0 129px;
				}
				.bItem2 {
					padding: 0px 118px 0 0px;
				}
				.bItem3 {
					padding: 2px 0px 0 118px;
				}
				.bItem4 {
					padding: 2px 127px 0 0px;
				}
				.partner-btn {
					margin: 3px auto 0;
				}
				.tile-blockS {
					width: 230px;
					margin: 8px 8px 10px;
				}
				.tile-wrapper {
					margin: 0 0 0 10px;
				}
				.block1,
				.block2,
				.block3,
				.block4,
				.block5,
				.block6,
				.block7 {
					background-size: cover;
				}
				.tile-blockB {
					width: 475px;
					margin: 8px 8px 10px;
				}
				.block7 {
					background-position: center;
				}
				.footer-column-logo {
					margin: -1px 85px 0 30px;
				}
				.footer-column {
					margin-right: 91px;
				}
				.footer-column-copyR-text,
				.footer-column-copyR-logo {
					margin-right: 30px;
				}


				} /* END  */



// } /* END  */


@media only screen and (max-width : 767px){ 

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  

		} /* END IE11*/



		header {
			height: 540px;
			min-width: 320px;
			background: url(../img/header_fon.jpg) center  no-repeat;
			background-size: cover;
			.wrapper {
				padding: 0 10px;
			}
		}
		.wrapper,
		.tile {
			width: 300px;
		}
		.header-top {
			top: 20px;
			margin-left: -16px;
			text-align: center;
			line-height: 31px;
		}
		.header-top-logo {
			position: absolute;
			top: 144px;
			left: 77px;
			margin-left: -1px;
		}
		.header-top-btn {
			float: none;
			margin-right: 2px;
		}
		.header-top-btn {
			// float: none;
			position: relative;
			left: -113px;
		}
		.singUp {
			left: 65px;
			display: inline-block;
			width: 84px;
			margin: -1px 6px 0 18px;
		}
		.header-title {
			margin-top: 186px;
		}
		.header-title-h1 {
			width: 282px;
			font-size: 30px;
			line-height: 36px;
			margin: 1px 0 0 0px;
		}
		.header-title-h2 {
			width: 220px;
			font-size: 18px;
			line-height: 22px;
			margin: 8px auto 15px;
		}
		.content-info {
			margin-top: 28%;
		}
		.header-title-btn,
		.partner-btn,
		.search-input,
		.search-btn {
			width: 280px;
		}

		.steps,
		.partner,
		.tile{
			padding-top: 33px;
		}

		.steps-h3,
		.tile-h3,
		.search-h3 {
			margin-bottom: 14px;
		}
		.partner-h3 {
			margin: 0px 0 14px -7px;
		}

		.step1 {
			@include bgi('step1.jpg', 'steps/min/');
			.content-info {
				margin-top: 27%;
				margin-bottom: 17px;
			}
		}
		.step2 {
			@include bgi('step2.jpg', 'steps/min/');
			.content-info {
				margin-top: 39%;
				margin-bottom: 16px;
			}
			.content-info-title {
				margin: 0 0 0 -2px;
			}
			.content-info-description {
				margin: 10px 0 0 0;
			}
		}
		.step3 {
			@include bgi('step3.jpg', 'steps/min/');
			.content-info {
				margin-top: 27.5%;
				margin-bottom: 15px;
			}
			.content-info-title {
				margin: 0 0 0 -2px;
			}
			.content-info-description {
				margin: 12px 0 0 0;
			}
		}
		.steps-block-arrow {
			display: none;
		}
		.steps-block-content {
			display: block;
		}
		.steps-h3 {
			margin : 1px 0  13px -5px;
		}
		.steps-block {
			width: 300px;
			height: 240px;
			margin-bottom: 10px;
			margin-right: 0;
			position: relative;
		}
		.partner {
			padding-top: 25px;
		}
		.partner-block-item {
			margin-bottom: 23px;
		}
		.img1 {
			margin-left: 59px;
		}
		.img3 {
			margin-left: 49px;
			margin-top: 4px;
		}
		.img2 {
			margin: 4px 0 0 47px;
		}
		.img4 {
			margin: 4px 0 0 47px;
		}
		.bItem1 {
			order: 1;
			padding: 0;
			margin: 0 20px 0 0;
		}
		.bItem2 {
			order: 3;
		}
		.bItem3 {
			order: 2;
		}
		.bItem4 {
			order: 3;
		}
		.bItem2,
		.bItem3,
		.bItem4{
			padding: 0;
			margin: 23px 0 0 0;
		}
		.title1 {
			margin-left: 18px;
			margin-top: 13px;
		}
		.title3 {
			margin: 14px 0 0 -2px;
		}
		.title4 {
			margin: 13px 0 0 -6px;
		}
		.desc3 {
			margin: 14px 0 0 0;
		}
		.desc1 {
			margin-left: 16px;
		}
		.desc4 {
			margin: 13px 0 0 -8px;
		}
		.block2 {
			background-position: 0 -127px;
		}
		.block3, 
		.block7 {
			background-position: 0 -50px;
		}
		.block4 {
			background-position: 0 -117px;
		}
		.block7 {
			margin-left: 0;
		}
		.partner-btn {
			margin: 47px auto 0;
			line-height: 38px;
			padding: 0 3px 0 0px;
		}

		.tile-h3 {
			margin-bottom: 12px;
		}
		.tile-wrapper {
			margin: 0 auto;
		}
		.tile-blockS,
		.tile-blockB {
			width: 300px;
			height: 120px;
			margin: 0 0 10px 0;
		}
		.block1,
		.block2,
		.block3,
		.block4,
		.block5,
		.block6,
		.block7 {
			background-size: cover;
			background-position: inherit;
		}

		.search {
			padding-top: 13px;
		}
		.search-h3 {
			margin: 14px 0 0 -3px;
		}
		.search-text {
			margin: 8px 0 18px -2px;
		}
		.search-input {
			margin-right: 0;
			padding: 0 13px;
		}
		.search-btn {
			margin-top: 10px;
			padding: 0 4px 0 0px;
		}
		

		.footer {
			min-width: 320px;
			margin-top: 40px;
			padding-top: 16px;
			text-align: center;
			padding: 16px 0;
			.wrapper {
				padding: 0 30px;
			}
		}
		.footer-column-logo {
			width: 240px;
			float: none;
			margin-right: 0;
			display: inline-block;
			margin: -1px 85px 10px 30px;
		}
		.footer-column-logo-link {
			margin-left: -43px;
		}
		.footer-column {
			width: 240px;
			float: none;
			display: inline-block;
			margin: 0 auto;
			margin-bottom: 5px;
		}
		.footer-column-ul-li:first-child {
			margin: 3px 0 0 -22px;
			display: block;
		}
		.footer-column-ul-li {
			margin-right: 12px;
			display: inline-block;
		}
		.footer-li-first {
			margin-left: -29px;
		}
		.footer-li {
			margin-left: -3px;
		}
		.footer-column-copyR {
			display: inline-block;
			float: none;
			text-align: center;
			margin: 10px auto 0;
		}
		.footer-column-copyR-text {
			margin: 0 42px 0 0px;
		}
		.footer-column-copyR-logo {
			float: none;
			display: inline-block;
			margin: 5px 0 0 -43px;
		}

		} /* END */

