* {
	margin: 0;
	padding: 0;
}
h2 {
	text-align: center;
}
h4 {
	padding: 5px;
	color: gray;
}
.test_block {
	width: 500px;
	min-height: 300px;
	height: auto;
	margin: 150px auto;
	border: 2px solid #999;
	border-radius: 10px;
	background-color: #ccc;
}
input {
	width: 150px;
	height: 25px;
	border: 1px solid #999;
	margin: 30px 32%;
	text-align: center;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
}
input:hover {
	background-color: #fff;
}
footer {
	position: relative;
	bottom: -47px;
	text-align: center;
}
.timer {
	width: 370px;
	height: 95px;
	border-radius: 20px;
	border: 4px solid #999;
	background-color: #afafdd;
	margin: 0 auto;
}
.block_timer {
	width: 370px;
	/*height: 165px;*/
	margin: 0 auto;
}

label {
	font-size: 400%;
}
.wraper p {
	margin: -25px 0 0 212px;
}
button {
	width: 150px;
	height: 40px;
	margin-top: 20px;
}	
a {
	display: none;
}
.result {
	clear: both;
	width: 100%;
	min-height: 50px;
	height: auto;
	overflow: hidden;
	margin: 10px 0 ;
}
.result p {
	font-size: 200%;
	color: #999;
}