<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>11-12 Bonus</title>
	<link rel='stylesheet' href='css/style_prof.css'>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js'></script>
	<script src='js/scriptBonus.js'></script>
</head>
<body>
	
<script type="text/tamplate" id="cartUser2">
		<div class="wraper">
			<div class="content">

				<h2><%= title %></h2>
				<img class="myPhoto" src="<%= srcPhoto %>" alt="My Photo">
				<p class="line_bot"><%= titelP %></p>

				<p><%= cause %></p>
				<ul class="about">
					<li class="about_li"><%= causeFirst %></li>
					<li class="about_li"><%= causeSecond %></li>
					<li class="about_li"><%= causeThird %></li>
				</ul>

				<p class="line_top"><%= contact %></p>
				<p > <%= contNumb %></p>
				<p><%= profile %></p>
				<a href="<%= hrefLink %>" class="line_bot"><%= linkText %></a>
				<p><%= fitBack %></p>
				<p><%= motivText %></p>

			</div>
		</div>
	</script>


</body>
</html>