* { 
	margin: 0;
	padding: 0;
}
@import "stylesheet.scss"; // подключение шрифтов
@import "mixins.scss"; // подключение миксинов

body {

	width: 100%;
	background: url(../img/body_fon.jpg) repeat;

	.fon { // осветление фона top
		padding-top: 20px;
		width: 100%;
		min-width: $wn + px;
		height: 347px;	
		background: url(../img/heder_fon.png)   no-repeat;
		background-size: 100%;
	}
}
.wrapper { // основная обертка
	width: $wn + px;
	margin: 0 auto;
}
.clearfix::after { // зачистка от float
  display: block;
  clear: both;
  content: '';
}

@import 'header.scss'; // подключение шапки сайта
@import 'content.scss'; // подключение основного контента
@import 'bottom-menu.scss'; // подключение подвала сайта
