* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../img/body.png);
	background-repeat: repeat-x;
	width: 100%;
	height: 1022px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
	width: 1000px;
	height: 980px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* HEADER */

header {
	widows: inherit;
	height: 175px;
	position: relative;
}
.cliarfix:after {
	content: '';
	clear: both;
	display: block;
}
.contact {
	float: right;
	margin: 10px 20px ;
}
.contact li {
	list-style: none;
	color: #128aa7;
}
.contact a {
	color: #128aa7;
	text-decoration: none;
}
.logo {
	float: left;
	position: absolute;
	bottom:0;
	left: 20px;
}
.countries {
	float: right;
	position: absolute;
	right: 20px;
	bottom: 5px;
	width: 395px;
}
.countries a {
	font-size: 10px;
}
.wrap {
	width: 58px;
	height: 60px;
	text-align: center;
	float: left;
	margin-left: 5px;
}
.img_counties {
	width: 42px;
	height: 42px;
	display: block;
	margin: 0 auto;
	background-repeat: no-repeat;
}
.india {
	background-image: url(../img/flag_counties/india.png);
}
.nepal {
	background-image: url(../img/flag_counties/nepal.png);
}
.tibet {
	background-image: url(../img/flag_counties/tibet.png);
}
.butan {
	background-image: url(../img/flag_counties/butan.png);
}
.sri_lanka {
	background-image: url(../img/flag_counties/sri_lanka.png);
}
.maldives {
	background-image: url(../img/flag_counties/maldives.png);
}

/*CONTENT*/

.center_photo {
	width: 100%;
	height: 237px;
	background-image: url(../img/senter_photo.png);
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}
nav {
	width: 100%;
	height: 28px;
	background-color: #323232;
	border-top: 1px solid #cacbcb;
	border-bottom: 1px solid black;
	float: right;
	box-shadow: 0 1px 10px rgba(0,0,0,.9);
}
.navigation {
	float: left;
	line-height: 28px;
	position: relative;
}
.navigation li{
	display: inline-block;
}
.navigation li:hover .dropdown {
	display: block;
}
.navigation a {
	color: #fff;
	text-decoration: none;
	margin: 0 25px;
}
.wraper {
	width: 900px;
	height: 28px;
	margin: 0 auto;
}
.dropdown {
	position: absolute;
	top: 102%;
	background-color:  #323232;
	width: 160px;
	box-shadow: 0 1px 10px rgba(0,0,0,.9);
	display: none;
}
.dropdown li {
	list-style: none;
	width: 100%;
}
.dropdown a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 0;
}
.dropdown li:hover {
	background-color: #272727;
}
/* CONTENT */

aside,
article {
	width: 20%;
	height: 536px;
	background-color: #ccc;
	overflow: hidden;
}
aside p,
article p {
	line-height: 25px;
	margin: 0 5px 0 10px;
}
aside {
	float:left;
	border-right: 1px solid #999;
}
article {
	float: right;
	border-left: 1px solid #999;
}
section {
	width: 60%;
}
h3 {
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}
/* FOOTER */
footer {
	margin-top: 10px;
}
footer p {
	text-align: center;
	color: #fff;
	font-size: 11px;
}