<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>13-14 JavaScript</title>
	
	<script src='js/jquery-3.0.0.min.js'></script>
	<script src='js/tmpl.js'></script>

	<script src='js/script.js'></script>	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="wraper">
		<form action="" class="container" id="qq">
			<h2 class="text-center">Тест по програмированию</h2>
			<ol class="listQustions">



			</ol>
		</form> 
		<button type="submit" class="btn btn-primary center-block btn-lg">Проверить мои результаты</button>

		<script type="text/html" id="template">
		</div>
		<% for (var i = 0; i < Object.keys(questions).length; i++){ %>
			<% var count = 1; %>
			<li>
				<h3>Вопрос: <%=  questions[i].question %></h3>
				<div>
					<label class="checkbox"><input type="<%= questions[i].type %>" name="<%= questions[i].name %>" value="a"><%= questions[i].answer1 %></label>
				</div>
				<div>
					<label class="checkbox"><input type="<%= questions[i].type %>" name="<%= questions[i].name %>" value="b"><%= questions[i].answer2 %></label>
				</div>
				<div>
					<label class="checkbox"><input type="<%= questions[i].type %>" name="<%= questions[i].name %>" value="c"><%= questions[i].answer3 %></label>
				</div>
				<div>
					<label class="checkbox"><input type="<%= questions[i].type %>" name="<%= questions[i].name %>" value="d"><%= questions[i].answer4 %></label>
				</div>
			</li>

			<% count++ }; %>
		</script>

		<div class="wraper-modal">
			<div class="modals">
				<h2>Результаты теста:</h2>
				<img src="img/closed.gif"  alt="">
				<div id="result">
				</div>
			</div>

		</body>
		</html>