* {
	margin: 0;
	padding: 0;
}
.clearfix:after {
	display: block;
	clear: both;
	content: '';
}

.wraper {
	background: url(../img/header_fon.jpg) top center no-repeat;
	background-size: cover;
}
/*   HEADER   */

header {
	/*background: url(../img/header_fon.jpg) center center no-repeat;*/
	height: 770px;
	margin: 0 auto 0;
}


.wraper2 {
	margin: 0 auto;
	width: 770px;	
}
h1 {
	font: 291%  'League Gothic';
	line-height: 48px;
	padding: 50px 0 0 18px;
	margin-right: 20px;
	text-shadow: 1px 1px 1px #999;
	font-weight: 500;
	color: #fff;
	text-align: left;
	float: left;
}
h1 span {
	background: linear-gradient(#322539, #745083);
	-webkit-background-clip: text;
	color: transparent;
	text-shadow: none;
	letter-spacing: 2px;
	margin-left: 2px;
}

.menu li{
	display: inline;
	margin: 25px 18px;
}
.menu a{
	color: #fff;
	text-decoration: none;
	font: 130%  'League Gothic';
	text-shadow: 1px 1px 1px #999;
}

.menu a:hover,
.menu_big a:hover {
	border-bottom: 2px solid #edbfff;
}
.menu :nth-child(n+2){
	padding-left: 12px;
}
.menu_top {
	float: right;
	margin-top: 70px;
	display: none;
}

.slider {
	width: 100%;
	height: 423px;
	margin: 70px 0 77px;
}
.slider__fon {
	height: 400px;
	background: url(../img/slider_fon.png) center no-repeat;
	margin-top: 50px;
}
.slider__fon__content {
	width: 770px;
	margin: 0 auto;
}

.slider__fon__content__text {
	width: 272px;
	float: left;
	margin: 93px 0 0 18px;
}
.slider__fon__content__text h2 {
	color: #fff;
	font: 294%  'League Gothic';
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.slider__fon__content__text h3 {
	color: #edbfff;
	font: 149%  'League Gothic';
	height: 29px;
	overflow: hidden;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	width: 270px;
}
.slider__fon__content__text p {
	color: #fff;
	display: block;
	font: 99% 'Open Sans Light';
	height: 103px;
	line-height: 26px;
	margin-top: 7px;
	overflow: hidden;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	width: 265px;
}
.slider__fon__content__text :nth-child(4) {
	margin-top: 8px;
}
.slider__fon__content__text :nth-child(5) {
	margin-top: 2px;
}
.slider__fon__content__text :nth-child(6) {
	margin-top: 2px;
}

.slider__fon__content__img {
	float: right;
	background-image: url(../img/phones.png);
	width: 274px;
	height: 434px;
	margin: -23px 50px 0 0;
}

.smallnav__container {
	position: absolute;
	top: 650px;
	left: 0;
	width: 960px;
	margin: 0 auto;
}

.smallnav {
	margin-right: 160px;
	float: right;
}

.smallnav__button {
	width: 17px;
	height: 17px;
	margin-right: 7px;
	float: left;
	background: url('../img/button.png');
	cursor: pointer;
}

.smallnav__button--active {
	background: url('../img/button_active.png');
}

.smallnav__button:hover {
	background: url('../img/button_active.png');
}
.menu_big {
		margin-top: 70px;
	}

/*   NAIN   */
main {
	clear: both;

}
.main_fons {
	background: #37293e;
	width: 100%;
	height: 342px;
	border-top: 1px solid #33253a;
	border-bottom: 1px solid #1d2f37;
	background: rgb(50, 37, 57);
	background: -ms-linear-gradient(270deg, rgb(50, 37, 57) 0%, rgb(116, 80, 131) 100%);
}

.main_menu {
	width: 210px;
	height: 200px;
}
.main_menu--img {
	float: left;
	display: block;
	margin: 3px 0 0 -3px;
}
.sprite1 {
	background: url(../img/spraites_key.png) no-repeat;
	width: 30px;
	height: 31px;
}
.sprite2 {
	background: url(../img/spraites_key.png) no-repeat;
	background-position: -30px 0;
	width: 30px;
	height: 31px;
}
.sprite3 {
	background: url(../img/spraites_key.png) no-repeat;
	background-position: -60px 0;
	width: 30px;
	height: 31px;
}

.main_menu--text {
	float: right;
	width: 150px;
	color: #fff;
	margin-right: 8px;
}
.main_menu--text h3 {
	font: 148%  'League Gothic';
	margin: -1px 0px 0 -2px;
	text-shadow: 1px 0 0 rgba(15, 21, 24, 1);
}
.main_menu--text p {
	font: 98%  'Open Sans Light';
	height: 144px;
	letter-spacing: 0.07px;
	line-height: 24px;
	margin: 3px 0px 0 -2px;
	overflow: hidden;
	text-shadow: 1px 0 0 rgba(15, 21, 24, 1);
}
.main_menu--text a {
	font: 120%  'League Gothic';
	color: #fff;
	text-decoration: none;
	margin: 3px 5px 0 0;
	float: right;
	letter-spacing: -0.2px;
	text-shadow: 1px 0 0 #000;
}
.main_menu--text a:hover {
	text-decoration: underline;
}
.main_menu--left {
	float: left;
	margin: 70px 0 0 31px;
}
.main_menu--center {
	float: left;
	margin: 70px 0 0 42px;
}
.main_menu--right {
	float: right;	
	margin: 70px 16px 0 0;
}

.content {
	background-color: #f9f9f9;
	width: 100%;
	height: 485px;
	border: 1px solid #e6e6e6;
}
.content--left {
	float: left;
	width: 49%;
	margin-top: 100px;
}
.content--right {
	float: left;
	width: 49%;
	margin-top: 100px;
}

/* Слайдел №2 Начало */


.wrapper_slider {
	height: 294px; /* 314*/
	margin-left: 16px;
	position: relative;
	width: 336px;
}
.slider2 {
	height: inherit;
	/*overflow: hidden;*/
	position: relative;
	width: inherit;
}
.wrapper_slider > input {
	display: none;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}
.slide1,
.slide2,
.slide3,
.slide4 {  
	width: 294px;
	padding-right: 22px;
	height: 272px;
	background-color: #fff;
	margin-left: 24px;
	box-shadow: 1px 0px 2px rgba(0,0,0, 0.05);
}
.slide1--img {
	background: url(../img/people.png) no-repeat;
}
.slide2--img {
	background: url(../img/people.png) no-repeat;
	background-position: -49px 0;
}
.slide3--img {
	background: url(../img/people.png) no-repeat;
	background-position: -98px 0;
}
.slide4--img {
	background: url(../img/people.png) no-repeat;
		background-position: -147px 0;
}
.img {
	width: 49px;
	height: 49px;
	float: left;
	margin: 18px 0 0 -24px;
}
.slides h4 {
	color: #454545;
	font: 150%  'League Gothic';
	margin: 26px 0 0 40px;
	text-shadow: 1px 0 0 #fff;
	text-transform: uppercase;
}
.slides h5 {
	color: #edbfff;
	font: 150%  'League Gothic';
	margin: -4px 0 0 41px;
	text-shadow: 1px 0 0 #fff;
	text-transform: uppercase;
}
.slides p {
	color: #454545;
	font: 99%  'Open Sans Light';
	height: 147px;
	line-height: 156%;
	margin: 5px 0 0 40px;
	overflow: hidden;
	text-shadow: 1px 0 0 #fff;
}

.wrapper_slider .controls {
	left: 70%;
	top: 93.5%;
	margin-left: -99px;
	position: absolute;
}
.wrapper_slider label {
	cursor: pointer;
	display: inline;
	height: 12px;
	margin: 24px 1px 0 6px;
	position: relative;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}
.wrapper_slider label:after {
	border: 1px solid #ccc;
	content: " ";
	display: block;
	height: 16px;
	left: -3px;
	position: absolute;
	top: -3px;
	width: 16px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.wrapper_slider label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #999;
}
#slide1:checked ~ .slider2 > .slide1,
#slide2:checked ~ .slider2 > .slide2,
#slide3:checked ~ .slider2 > .slide3,
#slide4:checked ~ .slider2 > .slide4,
#slide5:checked ~ .slider2 > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* Слайдел №2 Конец */

.content--right h3 {
	color: #454545;
	font: 185%  'League Gothic';
	margin: 26px 0 13px 36px;
	text-shadow: 1px 0 0 #fff;
}
.content--right--item1--img {
	background: url(../img/spraites_item.png) no-repeat;
	width: 49px;
	height: 49px;
	float: left;
	margin: 0 17px 0 36px;
}
.content--right--item2--img {
	background: url(../img/spraites_item.png) no-repeat;
	background-position: -49px 0;
	width: 49px;
	height: 49px;
	float: left;
	margin: 0 17px 0 36px;
}
.content--right--item3--img {
	background: url(../img/spraites_item.png) no-repeat;
	background-position: -98px 0;
	width: 49px;
	height: 49px;
	float: left;
	margin: 0 17px 0 36px;
}
.content--right--item2 {
	margin-top: 19px;
}
.content--right--item3 {
	margin-top: 17px;
}
.content--right h5 {
	font: 100%  'Open Sans Extrabold';
	text-shadow: 1px 0 0 #fff;
}
.content--right p {
	font: 99%  'Open Sans Light';
	height: 26px;
	line-height: 165%;
	overflow: hidden;
	text-shadow: 1px 0 0 #fff;
	width: 260px;
}
.content--right a {
	clear: both;
	color: #454545;
	display: block;
	font: 114%  'League Gothic';
	margin: 17px 0 0 274px;
	text-decoration: none;
	text-shadow: 1px 0 0 #fff;
}


.logos_bottom {
	border: 1px solid #fff;
	background-color: #f9f9f9;
	height: 118px;
	width: 100%;

}
.logos_bottom--img {
	float: left;
	margin-top: 26px;
}
.logo1 {
	background: url(../img/logo_bllabong.png) no-repeat;
	width: 69px;
	height: 64px;
	margin: 26px 0 0 21px;
}
.logo2 {
	background-image: url(../img/logo_gc.png);
	width: 72px;
	height: 64px;
	margin-left: 53px;
}
.logo3 {
	background-image: url(../img/logo_three.png);
	width: 65px;
	height: 65px;
	margin-left: 55px;
}
.logo4 {
	background-image: url(../img/logo_awsm.png);
	width: 50px;
	height: 63px;
	margin-left: 64px;
}
.logo5 {
	background-image: url(../img/logo_raca.png);
	-webkit-background-size: 103px 21px;
	background-size: 103px 21px;
	width: 103px;
	height: 21px;
	margin: 48px 0 0 59px;
}
.logo6 {
	background-image: url(../img/logo_vonzipper.png);
	-webkit-background-size: 78px 61px;
	background-size: 78px 61px;
	width: 78px;
	height: 61px;
	margin: 28px 0 0 55px;
}

.content_bottom {
	height: 396px;
	width: 100%;
	background-color: #ececec;
	border: 1px solid #d8d8d8;
	overflow: hidden;
}
.categories {
	float: left;
	margin-top: 99px;
	width: 205px;
}
.categories h2 {
	color: #454545;
	font: 150%  'League Gothic';
	margin-bottom: 8px;
	text-shadow: 1px 0 0 #fff;
}
.categories p {
	color: #787878;
	font: 99%  'Open Sans Light';
	height: 170px;
	line-height: 24px;
	overflow: hidden;
	text-shadow: 1px 0 0 #fff;
}
.categories--one {
	margin-left: 18px;
}
.categories--two {
	margin-left: 61px;
}
.categories--three {
	margin-left: 58px;
}
.logo_bottom {
	display: none;
}

/*   FOOTER   */

footer {
	width: 100%;
	height: 201px;
	background: url(../img/fotter.jpg) top center no-repeat;
}
footer p {
	font: 75%  'Open Sans Light';
	color: #fff;
	float: right;
	text-shadow: 1px 1px 1px #000;
	margin: 7px 24px;
}
footer span {
	font: 100%  'Open Sans Extrabold';
}

.menu--bootom  {
	margin-top: 44px;
}
.menu--bootom a {
	font-size: 125%;
}
.menu--bootom li:nth-child(2),
.menu--bootom li:nth-child(3),
.menu--bootom li:nth-child(5) {
	margin-left: 9px;
}
.menu--bootom li:nth-child(4) {
	margin-left: 10px;
}
.menu--bootom li:nth-child(6) {
	margin-left: 10px;
}


@media screen and (min-width: 960px){

	header {
		height: 846px;
		margin: 0 auto;
	}
	.wraper2 {
		width: 988px;
	}
	header h1 {
		float: left;
		font-size: 306%;
		letter-spacing: -1px;
		padding: 52px 0 0 10px;
	}
	.menu_big {
		display: block;
		float: right;
		margin-top: 70px;
	}
	.menu li {
		float: left;
		padding-top: 32px;
	}
	.menu li:first-child {
		margin-left: 171px;
	}
	.menu li:nth-child(2) {
		margin-left: 21px;
	}
	.menu li:nth-child(3),
	.menu li:nth-child(4),
	.menu li:nth-child(5) {
		margin-left: 22px;
	}
	.menu li:nth-child(6) {
		float: right;
		margin: 27px 16px 0 22px;
	}

	.slider {
		clear: both;
		padding-top: 103px;
	}

	.slider__fon__content {
		width: 988px;
	}
	.slider__fon__content:before {
		margin: 180px 0 0 -308px;
	}
	.slider__fon__content__img {
		margin: -17px 87px 0 0;
	}
	.slider__fon__content:after {
		margin: 180px -667px 0 5px;
	}
	.slider__fon__content__text {
		margin: 70px 0 0 12px;
		width: 515px;
	}
	.slider__fon__content__text h2 {
		font-size: 380%;
		letter-spacing: -0.75px;
	}
	.slider__fon__content__text h3 {
		font-size: 209%;
		height: 22px;
		letter-spacing: -0.5px;
		line-height: 20px;
		width: 405px;
	}
	.slider__fon__content__text p {
		font-size: 110%;
		height: 150px;
		letter-spacing: 0.1px;
		line-height: 24px;
		margin-top: 12px;
		width: 505px;
	}

	.slider__fon__radio {
		margin-left: 59%;
		padding: 52px 0 0 9px;
	}
	main {
		margin-top: -13px;
	}
	.main_menu {
		width: 280px;
	}
	.main_menu--img {
		margin: 6px 0 0 -9px;
	}
	.main_menu--text {
		width: 222px;
		margin: 1px 12px 0px 0;
	}
	.main_menu--text h3 {
		font: 190% 'league_gothicregular';
		letter-spacing: -0.2px;
		margin: -4px 0px 0 -2px;
	}
	.main_menu--text p {
		height: 120px;
		margin-top: 6px;
	}
	.main_menu--left .main_menu--text a {
		margin: 16px 7px 0 0;
	}
	.main_menu--center {
		margin-left: 58px;
	}
	.main_menu--center .main_menu--text a {
		margin: 16px 3px 0 0;
	}
	.main_menu--right {
		margin-right: 2px;
	}
	.main_menu--right .main_menu--text a {
		margin: 16px 3px 0 0;
	}

	/*  Второй СЛАЙДЕР начало  */
	.wrapper_slider {
		width: 455px;
	}

	.slide1,
	.slide2,
	.slide3,
	.slide4 {
		margin-left: 21px;
		width: 400px;
	}
	.wrapper_slider .controls {
		margin-left: -131px;
		top: 93.2%;
	}
	.slides h4 {
		float: left;
		font-size: 183%;
		margin: 25px 0 0 14px;
	}
	.slides h5 {
		float: left;
		font-size: 183%;
		margin: 25px 0 0 6px;
	}
	.slides p {
		clear: both;
		display: block;
		height: 170px;
		margin-left: 36px;
		width: 359px;
	}


		/*  Второй СЛАЙДЕР конец!!!  */


	.content--right h3 {
		margin: 25px 0 13px 38px;
	}
	.content--right p {
		width: 375px;
	}
	.content--right--item1--img {
		margin-right: 18px;
	}
	.content--right--item2 {
		margin-top: 18px;
	}
	.content--right--item3 {
		margin-top: 15px;
	}
	.content--right a {
		font-size: 100%;
		margin: 22px 0 0 383px;
	}
	.logo1 {
		margin-left: 105px;
	}
	.logo2 {
		margin-left: 64px;
	}
	.logo3 {
		margin-left: 66px;
	}
	.logo4 {
		margin-left: 75px;
	}
	.logo5 {
		margin: 46px 0 0 65px;
	}
	.logo6 {
		margin: 26px 0 0 68px;
	}
	.logo_bottom {
		display: block;
	}
	.logo_bottom h1 {
		color: #454545;
		letter-spacing: -1px;
		padding: 0;
	}
	.logo_bottom h1 span{
		color: #b9b9b9;
		letter-spacing: -1px;
		padding: 0;
	}
	.logo_bottom h6 {
		color: #c5c5c5;
		font-style: italic;
		font: 95% 'Georgia';
		line-height: 44px;
		text-shadow: 1px 0 0 #fff;
	}
	.categories {
		height: 210px;
		margin-top: 94px;
		overflow: hidden;
		width: 280px;
	}
	.categories--one {
		margin-left: 11px;
	}
	.categories--one h2 {
		display: none;
		margin-left: 13px;
	}
	.categories p {
		margin-top: -3px;
	}
	.categories--two {
		margin-left: 58px;
	}

	.categories--two h2,
	.categories--three h2 {
		font-size: 187%;
	}
	.categories--three {
		margin-left: 60px;
	}
	
	footer {
		height: 114px;
	}
	.menu--bootom li {
		padding-top: 0;
	}
	.menu--bootom li:first-child {
		margin-left: 13px;
	}
	.menu--bootom :nth-child(n+2) {
		padding-left: 3px;
	}
	.menu--bootom li:nth-child(6) {
		float: left;
		margin: 42px 0px 0 24px;
	}
	footer p {
		margin: 50px 15px 0 0;
	}


} /* ============ END ============ */


@media screen and (max-width: 767px){
	header {
		background: url(../img/header_fon.jpg) top center no-repeat;
		height: 548px;
		position: relative;
	}
	.wraper2 {
		width: 480px;	
	}
	header h1 {
		padding: 66px 0 0 164px;
	}
	header h1 span{
		letter-spacing: -1px;
	}
	.menu_top {
		margin: 23px 0 0 119px;
		position: absolute;
		width: 244px;
		display: block;
	}
	.menu_big {
		display: none;
	}
	.menu_top:hover {
		background-color: rgba(54, 41, 62, 0.9);
		border-radius: 10px;
		border: 1px solid #051116;
	}
	.menu_top:hover li {
		border-bottom: 2px solid rgba(0,0,0,0);
		display: block;
	}

	.menu_top li:first-child {
		border-top: 0;
		border: 0;
		display: block;
	}
	.menu_top :nth-child(n+2) {
		padding: 0;
	}
	.menu_top li:last-child {
		border-radius: 0 0 10px 10px;
	}
	.menu_top li {
		border-bottom: 1px solid #3f3346;
		border-top: 1px solid #513e59;
		border: 1px solid rgba(0,0,0,0);
		display: block;
		display: none;
		margin: 0 auto;
	}
	.menu_top a {
		border-bottom: 2px solid rgba(0,0,0,0);
		display: block;
		line-height: 37px;
		text-align: center;
	}
	.menu_top a:hover {
		background-color: rgba(0,0,0,0.3);
		width: 100%;
	}
	.menu_item a {
		border-bottom: 2px solid #edbfff;
		border-radius: 10px 10px 0 0;
		margin: 0 auto;
		width: 20%;
	}

	.slider {
		height: 290px;
		margin-top: 89px;
	}
	.slider__fon {
		height: 246px;
	}
	.slider__fon__content__img {
		background-image: url(../img/phones_min.png);
		height: 304px;
		margin: -9px 321px 0 0;
		width: 192px;
	}
	.slider__fon__content__text {
		margin: 89px 0 0 14px;
		width: 215px;
	}
	.slider__fon__content__text h2 {
		font-size: 223%;
	}
	.slider__fon__content__text h3 {
		font-size: 113%;
		height: 23px;
		margin-top: -3px;
		width: 210px;
	}
	.slider__fon__content__text p {
		display: none;
	}
	.slider__fon__content:before {
		margin: 102px 0 0 -3px;
	}
	.slider__fon__content:after {
		margin: 102px -227px 0 0;
	}
	.slider__fon__radio {
		margin-left: 42%;
		padding-left: 21px;
		position: relative;
		top: -52px;
	}
	main {
		border-top: 1px solid #33253a;
		height: 449px;
		margin-top: 0;
		padding: 74px 0;
	}
	.main_menu {
		width: 426px;
	}
	.main_menu--left,
	.main_menu--center,
	.main_menu--right {
		float: none;
	}
	.main_menu--img {
		margin: 5px 0 0 -3px;
	}
	.main_menu--left {
		margin: 0 0 0 32px;
	}
	.main_menu--center {
		margin: -43px 0 0 32px;
	}
	.main_menu--right {
		margin: -38px 0px 0 32px;
	}
	.main_menu--text {
		float: none;
		margin-left: 53px;
		width: 400px;
	}
	.main_menu--text p {
		height: 80px;
		width: 384px;
	}
	.main_menu--text a {
		margin: 3px 31px 0 0;
	}
	/*Слайдер 2 */
	.content {
		height: 785px;
	}
	.content--left {
		float: none;
		margin: 69px 0 0 3px;
	}
	.slide1,
	.slide2,
	.slide3,
	.slide4 {
		width: 394px;
	}
	.slides h4 {
		float: left;
		font-size: 183%;
		margin: 23px 0 0 15px;
	}
	.slides h5 {
		font-size: 187%;
		margin: 23px 0 0 142px;
	}
	.slides p {
		height: 175px;
		margin: 11px 0 0 40px;	
	}
	.wrapper_slider .controls {
		margin-left: -54px;
		top: 93%;
	}
	/*Слайдер 2 END*/
	.content--right {
		float: none;
		margin: 64px 0 0 47px;
		width: 83%;
	}
	.content--right a {
		margin: 17px 0 0 284px;
	}
	.logos_bottom {
		height: 230px;
	}
	.logo1 {
		margin: 36px 0 0 82px;
	}
	.logo2 {
		margin: 36px 0 0 55px;
	}
	.logo3 {
		margin-top: 36px;
	}
	.logo4 {
		margin-left: 68px;
	}
	.logo5 {
		margin: 47px 0 0 58px;
	}
	.logo6 {
		margin: 27px 0 0 56px;
	}

	.content_bottom {
		height: 668px;
	}
	.categories {
		float: none;
		margin-top: 76px;
		width: 440px;
	}
	.categories p {
		height: 96px;
		margin-top: 7px;
	}
	.categories--one,
	.categories--two,
	.categories--three {
		margin-left: 17px;
	}
	.categories--one h2 {
		margin-bottom: 0;
	}
	.categories--two h2 {
		margin-top: -23px;
	}
	.categories--three h2 {
		margin-top: -20px;
	}
	/* Footer      */

	.menu--bootom li {
		margin: 43px 22px;
	}
	.menu--bootom li:nth-child(2),
	.menu--bootom li:nth-child(3),
	.menu--bootom li:nth-child(5) {
		margin-left: -13px;
	}
	.menu--bootom li:nth-child(4) {
		margin-left: -14px;
	}
	.menu--bootom li:nth-child(6) {
		margin-left: -13px;
	}
	footer p {
		margin: -11px 171px 0 0px;
	}
	/* Footer END  */

}/* ============ END ============ */


@media screen and (max-width: 479px){
	
	header {
		height: 516px;
		margin: 0 auto;
	}

	.wraper2 {
		width: 320px;
		max-width: 479px;
	}
	header h1 {
		padding: 67px 0 0 82px;
	}
	.menu_top {
		margin: 22px 0 0 38px;
	}
	.slider {
		margin-top: 93px;
	}
	.slider__fon {
		background-color: rgba(0,0,0, 0);
	}
	.slider__fon__content__img {
		display: none;
	}
	.slider__fon__content:before {
		margin: 97px 0 0 -5px;
	}
	.slider__fon__content__text {
		margin: 84px 0 0 39px;
 	}
 	.slider__fon__content:after {
		margin: 97px 449px 0 0;
	}
	.slider__fon__radio {
		margin-left: 96px;
		padding-left: 21px;
		top: 49px;
	}

	main {
		height: 463px;
		padding: 67px 0;
	}
	.main_menu--left {
		margin: 0 0 0 29px;
	}
	.main_menu--text p {
		height: 75px;
		width: 220px;
	}
	.main_menu--text a {
		margin: 9px 189px 0 0;
	}
	.main_menu--center {
		margin: -43px 0 0 29px;
	}
	.main_menu--right {
		margin: -26px 0px 0 29px;
	}

	.content--left {
		margin: 69px 0 0 2px;
	}
	.slide1,
	.slide2,
	.slide3,
	.slide4 {
		width: 233px;
	}
	.slides h4 {
		float: none;
		font-size: 150%;
		margin: 21px 0 0 34px;
	}
	.slides h5 {
		font-size: 150%;
		margin: -4px 0 0 35px;
	}
	.slides p {
		height: 170px;
		margin: 2px 0 0 38px;
	}
	.wrapper_slider .controls {
		margin-left: -119px;
		top: 93.3%;
	}
	.content--right {
		float: none;
		margin: 64px 0 0 -19px;
		width: 100%;
	}
	.content--right h5 {
		float: right;
		height: 23px;
		overflow: hidden;
		width: 216px;
	}
	.content--right p {
		float: right;
		height: 26px;
		overflow: hidden;
		width: 218px;
	}
	.content--right--item1 {
		height: 46px;
		width: 320px;
	}
	.content--right--item2 {
		margin-top: 19px;
	}
	.content--right--item3 {
		margin-top: 90px;
	}
	.content--right a {
		margin: 154px 0 0 222px;
	}
	.logos_bottom {
		height: 420px;
	}
	.logo1 {
		margin: 51px 0 0 60px;
	}
	.logo2 {
		margin: 51px 0 0 55px;
	}
	.logo3 {
		margin: 61px 0 0 66px;
	}
	.logo4 {
		margin: 62px 65px 0 66px;
	}
	.logo5 {
		margin: 65px 0 0 -91px;
	}
	.logo6 {
		margin: 44px 0 0 56px;
	}

	.content_bottom {
		display: none;
	}
	.menu--bootom {
		display: none;
	}
	footer p {
		margin: 39px 93px 0 0px;
	}

}/*  END */
