	<footer class="footer">
		<div class="wrapper">
			<div class="footer-column-logo">
				<a href="#" class="footer-column-logo-link">URLAUBSGLÜCK</a>
			</div>
			<div class="footer-column">
				<ul class="footer-column-ul">
					<li class="footer-column-ul-li"><span class="footer-column-ul-li">Company</span></li>
					<li class="footer-column-ul-li footer-li-first"><a href="#">About</a></li>
					<li class="footer-column-ul-li footer-li"><a href="#">Contects</a></li>
					<li class="footer-column-ul-li footer-li"><a href="#">Press</a></li>
					<li class="footer-column-ul-li footer-li"><a href="#">Blog</a></li>
				</ul>
			</div>
			<div class="footer-column">
				<ul class="footer-column-ul">
					<li class="footer-column-ul-li"><span class="footer-column-ul-li">Partners</span></li>
				</ul>
			</div>
			<div class="footer-column-copyR">
				<span class="footer-column-copyR-text">Designed by</span>
				<a href="#" class="footer-column-copyR-logo"></a>
			</div>
		</div>

	</footer>

	<!--[if IE]>
  <script src="js/script_IE8.js"></script>
  <![endif]-->
  <!--[if !IE]><!-->

</body>
</html>