<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yuriy Starokozhko">
	<title>Final DZ</title>

	<!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script>
      document.createElement('header');
      document.createElement('section');
      document.createElement('footer');
  </script>
<script src="https://code.jquery.com/jquery-1.4.4.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.3/jquery.xdomainrequest.min.js"></script>
  <link rel="stylesheet" href="css/style_IE8.css">
  <link rel="stylesheet" href="css/media-queries_IE8.css">
  <![endif]-->
  <!--[if !IE]><!-->

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/media-queries.css">
  <script src="js/imagesloaded.pkgd.min.js"></script>
  <script src="js/masonry.pkgd.min.js"></script>
  <script src="js/script.js"></script> 

  
  <!--<![endif]-->
	<!--[if lte IE 8]>
  <script src="js/respond.min.js"></script>
  <![endif]-->


</head>
<body>