<header>
		<div class="wrapper">
			<div class="header-top">
				<a href="#" class='header-top-logo'>URLAUBSGLÜCK</a>
				<a href="#" class='header-top-btn singUp'>Sign up</a>
				<a href="#" class='header-top-btn'>Log in</a>
			</div>
			<div class="header-title">
				<h1 class="header-title-h1">Share your holiday dreams</h1>
				<h2 class="header-title-h2">And find the perfect partner to fullfill it</h2>
				<a href="#" class="header-title-btn">Find your holiday partner</a>
			</div>
		</div>
	</header>
	<div class="wrapper">