<section class="partner">
	<h3 class="partner-h3">Meet a partner for your best holiday</h3>
	<div class="partner-block">
		<div class="partner-block-item bItem1">
			<div class="item-img img1"></div>
			<span class="item-title title1">Bradley Hunter</span>
			<span class="item-description desc1">Based in Chicago. I love playing tennis and loud music.</span>
		</div>
		<div class="partner-block-item bItem2">
			<div class="item-img img2"></div>
			<span class="item-title title2">Heather Walker</span>
			<span class="item-description desc2">I'm a happy person that loves cats and climbing on mountains.</span>
		</div>
		<div class="partner-block-item bItem3">
			<div class="item-img img3"></div>
			<span class="item-title title3">Lucas Marsha</span>
			<span class="item-description desc3">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</span>
		</div>
		<div class="partner-block-item bItem4">
			<div class="item-img img4"></div>
			<span class="item-title title4">Bradley Hunter</span>
			<span class="item-description desc4">Based in Chicago. I love playing tennis and loud music.</span>
		</div>
	</div>
	<a href="#" class="partner-btn">See other partners</a>
</section>