<section class="steps">
	<h3 class="steps-h3">How Urlaubsglück works?</h3>
	<div class="steps-block step1">
		<div class="steps-block-arrow">
			<span class="steps-block-arrow-left" id="l1"></span>
			<span class="steps-block-arrow-right" id="r1"></span>
		</div>
		<div class="clearfix"></div>
		<div class="steps-block-content">
			<div class="content-info">Step 1</div>
			<div class="span-wrap active">
				<span class="content-info-title">Sed leo enim, condimentum</span>
				<span class="content-info-description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
			</div>
			<div class="span-wrap">
				<span class="content-info-title">Morbi velit risus</span>
				<span class="content-info-description">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
			</div>
			<div class="span-wrap">
				<span class="content-info-title">Sed leo enim, condimentum 2</span>
				<span class="content-info-description">2. Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
			</div>
		</div>
	</div>
	<div class="steps-block step2">
		<div class="steps-block-arrow">
			<span class="steps-block-arrow-left" id="l2"></span>
			<span class="steps-block-arrow-right" id="r2"></span>
		</div>
		<div class="clearfix"></div>
		<div class="steps-block-content">
			<div class="content-info">Step 2</div>
			<div class="span-wrap">
				<span class="content-info-title">Sed leo enim, condimentum</span>
				<span class="content-info-description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
			</div>
			<div class="span-wrap active">
				<span class="content-info-title">Morbi velit risus</span>
				<span class="content-info-description">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
			</div>
			<div class="span-wrap">
				<span class="content-info-title">Sed leo enim, condimentum 2</span>
				<span class="content-info-description">2. Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
			</div>
		</div>
	</div>
	<div class="steps-block step3">
		<div class="steps-block-arrow">
			<span class="steps-block-arrow-left" id="l3"></span>
			<span class="steps-block-arrow-right" id="r3"></span>
		</div>
		<div class="clearfix"></div>
		<div class="steps-block-content">
			<div class="content-info">Step 3</div>
			<div class="span-wrap">
				<span class="content-info-title">Sed leo enim, condimentum</span>
				<span class="content-info-description">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
			</div>
			<div class="span-wrap">
				<span class="content-info-title">Morbi velit risus</span>
				<span class="content-info-description">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
			</div>
			<div class="span-wrap active">
				<span class="content-info-title">Sed leo enim, condimentum 2</span>
				<span class="content-info-description">2. Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
			</div>
		</div>
	</div>
</section>