
<section class="tile">
	<h3 class="tile-h3">Discover holiday activity ideas</h3>
	<div class="tile-wrapper grid">
		<div class="tile-blockS block1 grid-item" id="b1">
			<span class="blockS-text">Sport and Activity</span>
		</div>
		<div class="tile-blockS block2 grid-item"  id="b2">
			<span class="blockS-text">Wellnes and Health</span>
		</div>
		<div class="tile-blockS block3 grid-item"  id="b3">
			<span class="blockS-text">Extreme Sports <br>and Expeditions</span>
		</div>
		<div class="tile-blockS block4 grid-item"  id="b4">
			<span class="blockS-text">Games</span>
		</div>
		<div class="tile-blockB block5 grid-item grid-item--width2"  id="b5">
			<span class="blockB-text">Culture and Education</span>
		</div>
		<div class="tile-blockB block6 grid-item grid-item--width2"  id="b6">
			<span class="blockB-text">Relaxation</span>
		</div>
		<div class="tile-blockS block7 grid-item"  id="b7">
			<span class="blockS-text">Travelling</span>
		</div>
	</div>
</section>
