<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JavaScript 15-16</title>

	<script src="https://apis.google.com/js/api.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> 
	<script src="js/tmpl.js"></script> 
	
	<script src='js/script.js'></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<gcse:search></gcse:search>


	<form action="#">
		<input type="text" id="searchText" placeholder="введите свой запрос" >
		<button type="submit" id='send'>Search</button>
	</form>
<div class="result">

	<!-- 	<a href=""></a>
		<p></p> -->

</div>


 <script type="text/html" id="templite">
        <% for (var i = 0; i < hits.length; i++) { %>
            <div class="item">
                <a class="link" href="<%= hits[i].pageURL %>">
                <img src="<%= hits[i].webformatURL %>" alt="<%= hits[i].tags %>" >
            </a>
            </div>
            <% } %>
             
    </script>
</body>
</html>