* {
		margin: 0;
		padding: 0;
}

body {
		background-color: #fff;
		height: 1000px;
}
.wraper {
		width: 760px;
		height: 300px;
		margin: 0 auto;
}
.picture {
		width: 700px;
		height: 300px;
		background-color: #fff;
		border-radius: 5px;
		margin: 50px auto 20px;
		padding: 15px ;
}

.jcarousel {
		position: relative;
		width: 600px;
		height: 300px;
		box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
		float: left;
		margin: 0 auto 20px;
		overflow: hidden;
}

.jcarousel-item {
		border-left: 1px solid #d4d4d4;
		border-right: 1px solid #d4d4d4;
		box-sizing: border-box;
}

.jcarousel-prev {
		width: 40px;
		height: 40px;
		margin: 130px 10px 0 0;
		float: left;
		background-color: #d4d4d4;
		border-radius: 30px;
		border: 1px solid transparent;
		box-sizing: border-box;
		color: #556667;
		font: 30px Arial;
		line-height: 38px;
		text-align: center;
		text-decoration: none;
}

.jcarousel-prev:hover {
		-moz-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
		-webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
		box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
}

.jcarousel-prev:active {
		background: #556667;
		color: #d4d4d4;
}

.jcarousel-next {
		background-color: #d4d4d4;
		border-radius: 30px;
		border: 1px solid transparent;
		box-sizing: border-box;
		color: #556667;
		float: right;
		font: 30px Arial;
		height: 40px;
		line-height: 38px;
		margin-top: 130px;
		text-align: center;
		text-decoration: none;
		width: 40px;
}

.jcarousel-next:hover {
		-moz-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
		-webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
		box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
}

.jcarousel-next:active {
		background: #556667;
		color: #d4d4d4;
}

.jcarousel ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
		width: 20000em;
}

.jcarousel li {
		float: left;
}

.jcarousel-pagination {
		clear: both;
		margin: 20px auto;
		width: 100px;
}

.jcarousel-pagination a {
		width: 17px;
		height: 17px;
		background: #d4d4d4;
		border-radius: 15px;
		border: 1px solid transparent;
		box-sizing: border-box;
		color: #d4d4d4;
		display: inline-block;
		margin-left: 5px;
		text-decoration: none;
}

.jcarousel-pagination a.active {
		background: #556667;
		border: 3px solid #d4d4d4;
		color: #556667;
}


/* ChecBox */


.myCheckboxCss {
		margin: 10px 20px 10px 0;
		float: left;
}
.myCheckboxJQury {
	margin: 10px 20px;
	float: left;
}
label {
		font-size: 120%;	
}
.labels{
		background: #7f6b66;
		border-radius: 100px;
		cursor: pointer;
		display: block;
		height: 24px;
		margin: 20px 20px 20px 0;
		position: relative;
		transition: all .3s ease;
		width: 50px;
}
.labels::after {
		background: #d4cecc;
		border-radius: 100px;
		content: '';
		display: block;
		height: 24px;
		left: 0px;
		position: absolute;
		top: 0px;
		transition: all .3s ease;
		width: 24px;
}
.labels span {
		display: block;
		font-size: 24px;
		margin: 0 0 0 65px;
		text-decoration: line-through;
		width: 130px;
}
.hiden {
		display: none;
}
.checkBox:checked ~ label { 
		background: #4e946c;
}
.checkBox:checked ~ label span{ 
		color: #31734d;
		text-decoration: none;
}
.checkBox:checked ~ label:after {
		left: 26px;
		background: #a0dcb9;
}
.checkBox:disabled ~ label {
		background: #d5d5d5;
		pointer-events: none;
}
.checkBox:disabled ~ label span {
		color: #999;
}
.checkBox:disabled ~ label:after {
		background: #bcbdbc;
}
.left {
	float: left;
	margin: 10px 40px 0 10px;
}
nav {
	width: 100%;
	height: 40px;
	clear: both;
	border-radius:0 0 10px 10px;
	margin: 0 auto 320px;
	z-index: 10;
	background: linear-gradient( #000, #4e4e4e);
}

.menu li{
	display: inline-block;
	position: relative;
}
.menu a {
	color: #fff;
	font-size: 140%;
	margin: 0 30px 0 30px;
	line-height: 40px;
	width: 100%;
	text-decoration: none;
	display: block;
}
.menu a:hover {
	color: yellow;
}
.menu-second {
	position: absolute;
	width: 130px;
	margin-bottom: 100px;
	background-color: #999;
}
.menu-second li{
	display: block;
}
.menu-second li:hover {
	background-color: #3c3c3c;
}
/*.menu li:hover > ul,
.menu-second li:hover > ul {
	display: block;
}*/
.menu-second a {
	width: 100%;
	font-size: 100%;
}
.menu-second {
	display: none;
}
.menu-third {
	display: none;
	position: absolute;
	left: 130px;
	width: 130px;
	top: 0;
}
.menu-third {
	background-color: #716785; /* Цвет третего блока*/
}
.menu-third a {
	color: #fff;
}

/*.tester {
	position: relative;
	width: 250px;
	height: 40px;
	background-color: #000;
}*/
h2 {
	clear: both;
}
.menu-bottom li{
	display: inline-block;
	position: relative;
}
.menu-bottom a {
	color: #ccc;
	font-size: 120%;
	width: 130px;
	line-height: 40px;
	display: block;
	text-decoration: none;
	text-align: center;
}
.menu-bottom a:hover {
	background-color: #999;
}
.menu-bottom li:first-child a:hover {
	background-color: #999;
	border-radius: 0 0 0 10px;
}
.menu-bottom-second {
	position: absolute;
}
.menu-bottom-second li:first-child a:hover {
	background-color: #999;
	border-radius: 0 0 0 0;
}
.menu-bottom-third {
	position: absolute;
	background-color: #222;
	top: 0;
	left: 130px;
}
.menu-bottom-second li{
	background-color: #4e4e4e;
	
}
.menu-bottom-second,
.menu-bottom-third {
	overflow: hidden;
	display: block;
	height: 0;
	-webkit-transition: all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition:         all 300ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
.menu-bottom-second {
	width: 260px;
}