						<footer>

							<div class="footer-nav">
								<div class="wrapper">
									
									<div class="footer-menu">
										<h2>socials</h2>
										<ul>
											<li><a href="#">facebook</a></li>
											<li><a href="#">flickr</a></li>
											<li><a href="#">twitter</a></li>
											<li><a href="#">vimeo</a></li>
										</ul>
									</div>

									<div class="footer-menu">
										<h2>links</h2>
										<ul>
											<li><a href="#">how to write a blog</a></li>
											<li><a href="#">flicreate a blog in 4 steps</a></li>
											<li><a href="#">15 tips to increase traffic</a></li>
											<li><a href="#">20 blog post ideas</a></li>
										</ul>
									</div>

									<div class="footer-menu">
										<h2>blogroll</h2>
										<ul>
											<li><a href="#">blogs blog</a></li>
											<li><a href="#">roll up roll up</a></li>
											<li><a href="#">blog bree</a></li>
											<li><a href="#">wordpress blog</a></li>
										</ul>
									</div>

									<div class="footer-menu">
										<h2>about us</h2>
										<ul>
											<li><a href="#">agriculture</a></li>
											<li><a href="#">harvest</a></li>
											<li><a href="#">company news</a></li>
											<li><a href="#">investor relations</a></li>
										</ul>
									</div>


								</div>
							</div>

							<div class="footer">
								<div class="wrapper">

									<a class="address" href="#">BuildHomeLtd.  Street Name 123   23 45 Cityname</a>
									<a class="phone" href="tel:+123 900 123 456">+123 900 123 456</a>
									<a class="mail" href="mailto:info@buildhome.web">info@buildhome.web</a>
									<a class="copy" href="#">© 2014 Build Home</a>

								</div>
							</div>
							
						</footer>

					</body>
					</html>