<main>
	<div class="wrapper">
		<div class="news">
			<h1>latest news</h1>
			<section>

				<article>
					<div class="dates">
						<div class="month"><p>jan</p></div>
						<div class="day"><p>23</p></div>
					</div>
					<div class="dates-images dates-img1"></div>
					<div class="information">
						<h2>Advanced Machinery Helps Improve Quality</h2>
						<p>by <a href="#">cmsmasters</a> Comments (<a href="#">6</a>)</p>
						<p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</div>
				</article>

				<article>
					<div class="dates">
						<div class="month"><p>jan</p></div>
						<div class="day"><p>21</p></div>
					</div>
					<div class="dates-images dates-img2"></div>
					<div class="information">
						<h2>Powerful Techniques <span>for</span> Advanced Service</h2>
						<p>by <a href="#">cmsmasters</a> Comments (<a href="#">3</a>)</p>
						<p>Cum sociis natoque penatibus et magnis dis parturient ontesmus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</div>
				</article>

			</section>
		</div>

		<div class="baners">
			<h1>banners place</h1>
			<div class="menu">
				<div class="title activ">
					<span></span>
					<h2>Accordion Panel 1</h2>
				</div>
				<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus.
					Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
				</div>
				<div class="menu">
					<div class="title">
						<span></span>
						<h2>Accordion Panel 2</h2>
					</div>
					<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus.
						Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
					</div>
					<div class="menu">
						<div class="title">
							<span></span>
							<h2>Accordion Panel 3</h2>
						</div>
						<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus.
							Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
						</div>
						<div class="menu">
							<div class="title">
								<span></span>
								<h2>Accordion Panel 4</h2>
							</div>
							<p>Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus.
								Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.</p>
							</div>
						</div>
					</div>
				</main>