<section class="servis">
	<div class="servis-wrapper">
		<h1>Our Services</h1>
		<div class='servis-item'>
			<div class="servis-item-img picture1"></div>
			<h3>schedule services</h3>
		</div>	
		<div class='servis-item'>
			<div class="servis-item-img picture2"></div>
			<h3>Preventive Maintence</h3>
		</div>	
		<div class='servis-item'>
			<div class="servis-item-img picture3"></div>
			<h3>Tire & Wheel Services</h3>
		</div>	
		<div class='servis-item'>
			<div class="servis-item-img picture4"></div>
			<h3>Repair Services</h3>
		</div>	
	</div>
</section>